<h4><li>Animal</li></h4>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th> Method </th>
                <th > Link </th>
                <th> Function </th>
            </tr>
            
        </thead>
           
        <tbody><tr>
          <td>GET</td>
          <td>
            <a href="api/animals/">/animal</a>
          </td>
          <td class="comment">// get all animals <br> Data : {Result}</td>
        </tr>

        <tr>
          <td>POST</td>
          <td>
            <a >/api/animals/add/</a>
          </td>
          <td class="comment">// add new animals</td>
        </tr>

        <tr>
          <td>DELETE</td>
          <td>
            <a >
                /api/animals/delete/id
            </a>
          </td>
          <td class="comment">// delete animal by id</td>
        </tr>

        <tr>
          <td>GET</td>
          <td><a href="/api/animals/detail/id">/api/animals/detail/id </a></td>
          <td class="comment">// get animals detail by id  <br> data : {resultAF} , {classTypeData} , {habitatData}</td>
        </tr>

        <tr>
          <td>PUT</td>
          <td>
            <a>
              /api/animals/update/id
            </a>
          </td>
          <td class="comment">// update animals by id</td>
        </tr>

      </tbody></table>

    
    </div>