<%- include('./layout/header') %>
    
<div class="carousel-inner">
    <div class="carousel-item active " >
        <img src="https://d3tidaycr45ky4.cloudfront.net/media/catalog/product/cache/1/thumbnail/1280x720/9df78eab33525d08d6e5fb8d27136e95/p/z/pz_launch_screenshots_batch_2_28_1920x1080_1.jpg" class="d-block w-100 object-fit-cover " alt="..." style="height: 655px;">
        <div class="carousel-caption rounded my-3 kotak text-center">
            <a class="fs-1 fw-bold list-group-item align-items-center"  >
                Welcome To Zoo Feed Application
            </a>

            <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                <a type="button" class="btn btn-outline-primary" href="/habitats">Habitats</a>
                <a type="button" class="btn btn-outline-primary" href="/classtypes">Class</a>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <a class="btn btn-outline-primary" for="btnradio1" href="/">Home</a>
                <a type="button" class="btn btn-outline-primary" href="/animals">Animals</a>
                <a type="button" class="btn btn-outline-primary " href="/foods">Foods</a>
              </div>


        </div>
        
    </div>
</div>

<%- include('./layout/footer') %>